@using Microsoft.AspNetCore.Mvc.TagHelpers
@using QA.V3.Web.Views.Manage
@model QA.V3.Web.Models.AthleteViewModels.AthleteOverviewViewModel
@{
    ViewData["Title"] = "Athlete Overview";
    ViewData.AddActivePage(ManageNavPages.AthleteOverview);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.GetStatusMessage())
<div class="row">
    <div class="col-md-6">   
        <button type="submit" class="btn btn-default">
            <a href="@Model.StravaActivityDataProvider.GetFullGrantAccessUrl())">
                Sync Strava Account
            </a>
        </button>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
