@{
    ViewData["Title"] = "Charity Per Mile";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article>

    <p>
        Charity Per Mile is a framework for integrating fundraising initiatives with athletic achievement.
    </p>
</article>
<br/>

<article >
<h4>Looking to find a fundraising campaign to contribue?</h4> Search here: <input /> <button class="btn">Search</button>
</article>
<br />

<article>
    <h4>Want to get started with raising charity dollars for every mile you cover?</h4>
    <button class="btn">Register</button>
</article>
<br />

<article>
    <h4>Already have an account?</h4> 
    <button class="btn">Login</button>
</article>